@charset "utf-8";
/* CSS Document */
:root {
    --header-bg: #000; 
    --header-title-color: #EEE;

    --nav-bar-bg: #BBB; 
    --nav-bar-link: #000; 
	
    --stickybar: #000; 	

    --mobile-menu-bg: #BBB; 	
    --mobile-menu-link-color: #000;
}