:root {
    --header-bg:
#009de0;
    --header-title-color:
#ffffff;
    --nav-bar-bg:
#7ab800;
    --nav-bar-link:
#ffffff;
    --stickybar:
#7ab800;
    --mobile-menu-bg:
#7ab800;
    --mobile-link-color:
#ffffff;
} 