@charset "utf-8";
/* CSS Document */
:root {
    --header-bg: #5f5f5f;
    --header-title-color: #ffffff;

    --nav-bar-bg: #4CAF50;
    --nav-bar-link: #ffffff;
	
    --stickybar: #5f5f5f;	

    --mobile-menu-bg: #bfbfbf;	
    --mobile-link-color: #5f5f5f;
}