@charset "utf-8";
/* CSS Document */
:root {
	--header-bg: #22545c;	
	--header-title-color: #ffffff;

	--nav-bar-bg: #89c4c6;
	--nav-bar-link: #22545c;
	
	--stickybar: #22545c;	

	--mobile-menu-bg: #89c4c6;	
	--mobile-link-color: #22545c;
}
#85c0c2
  --color4: #b8dbdc;