@charset "utf-8";
/* CSS Document */
:root {
    --header-bg2: #f4f6f7;
    --header-bg:#fff;
    --header-title-color: #3e5d69;
    --header-title-color2: #fff;

    --nav-bar-bg: #fff;
    --nav-bar-bg2: #212331; 
    --nav-bar-link: #3e5d69;
	
    --stickybar: #212331;	

	--mobile-menu-bg: #89C3D9;	
	--mobile-link-color: #3e5d69;
}