@charset "utf-8";
/* CSS Document */
:root {
    --header-bg: #f4f6f7;
    --header-title-color: #3e5d69;

    --nav-bar-bg: #fff;
    --nav-bar-link: #3e5d69;
	
    --stickybar: #3e5d69;	

	--mobile-menu-bg: #89C3D9;	
	--mobile-link-color: #3e5d69;
}