:root {
    --header-bg:
#ffffff;
    --header-title-color:
{{headertitlecolor}};
    --nav-bar-bg:
{{navbarbg}};
    --nav-bar-link:
{{navbarlink}};
    --stickybar:
{{stickybar}};
    --mobile-menu-bg:
{{mobilemenubg}};
    --mobile-link-color:
{{mobilelinkcolor}};
} 